*{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

/* <-----------------Header-----------------> */
.header{
    height: 70px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: fixed;
    z-index: 1000;
}
.nameheader{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background: #023524;
}
.nameheader a{
    color: #fff;
    text-decoration:none;
    font-size: 35px;
    font-weight: 500;
}
nav{
    display:flex;
    padding: 2% 6%;
    justify-content:space-between;
    align-items:center;
    background: #023524;
}
nav img{
    width:150px;
}
.nav-links{
    flex: 1;
    text-align:right;
    justify-content: flex-end;
}
.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding: 8px 20px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration:none;
    font-size: 23px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #008055;
    display:block;
    margin: auto;
    transition: 0.5s
}
.nav-links ul li:hover::after{
    width: 100%;
}
.intro {
    background: url('simages/introbg.jpg');
    background-size: cover;
    width: 100%;
    text-align: center;
    color: #fff;
    height: 100vh;
    margin: auto;
}
.intro h1 {
    color: #ffffff;
    font-size: 62px;
    width: 90%;
    position: relative;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/* <-----------------Header-----------------> */


/* <----------------- About Us -----------------> */
.about-us{
    width:80%;
    margin: auto;
    padding-top: 120px;
}
.about-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.about-col img{
    max-width: 100%;
    height: auto;
    padding-left: 20px;
}
.about-us h1{
    padding-top: 0;
    text-align: center;
}
.about-col p{
    padding: 10 10 10 10;
}
.row {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
.values{
    width: 80%;
    margin: auto;
    text-align: center;
}
.val-col{
    flex-basis: 31%;
    background: #d9d9d9;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.values h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #023524;
}
.val-col:hover{
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.2);
}
/* <----------------- About Us -----------------> */


/* <----------------- Capabilities -----------------> */
.capabilities{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top: 120px;
    margin-bottom: 140px;
}
h1{
    color: #023524;
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.col{
    display: flex;
    gap: 100px; 
    width: 100%;
    margin: auto;
    padding-top: 20px;
    padding-left: 45px;
}
.layer{
    background: rgba(4,9,30,0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.layer h3{
    width:100%;
    font-weight:300;
    color:#fff;
    font-size: 26px;
    top: 50%;
    text-align:center;
    position: absolute;
    opacity:1;
}
.cap-row{
    display: flex;
    flex-direction: column;
    gap: 10px; 
    width: 100%;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 20px;
}
.caps-row {
    background: linear-gradient(to right, rgb(26, 24, 24), rgb(2, 53, 36));
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    transition: background-color 0.5s;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}
.caps-row img {
    width: 50%; /* Ensure the image fits within its container */
    height: 120px; /* Fixed height for consistency */
    object-fit: cover;
    border-radius: 10px 0 0 10px; 
}
.text-content {
    display: flex;
    flex-direction: column;
    text-align: right; /* Align text to the right */
    flex: 1; /* Allow text to take the remaining space */
}
.caps-row p{
    padding: 100;
    opacity: 0;
}
.caps-row:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    background: #008055; 
}
.caps-row:hover h3{
    color: #dbd9d9;;
}
.caps-row:hover p{
    color: #dbd9d9;
    opacity: 1;
}
.caps-row h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: right;
    color: #dbd9d9;
    font-size: 22px;
}
/* <----------------- Capabilities -----------------> */


/* <----------------- Announcements -----------------> */
.updates{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    height: 70vh;
}
.updates h1{
    margin-top: 100px;
    text-align: center;
}
.updates-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-top: 30px;
    text-align: left;
    background: #d9d9d9;
    padding: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.updates-col ul {
    padding: 0;
    list-style-type: none; 
}
.updates-col li{
    padding: 10px 10px;
    color: grey;
    position: relative;
    margin-bottom: 20px; 
    font-size: 16.5px;
}
.updates-col a {
    color: inherit; /* Inherit color from the parent element */
    text-decoration: none; /* Remove underline */
}
.updates-col a:hover {
    text-decoration: underline; /* Optional: Add underline on hover */
}
.updates-col ul li::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #ccc; 
}
.updates-col h3{
    margin-top: 15px;
    text-align: left;
    color: #023524;
    font-size: 20px;
}
.updates-col ul li:last-child::after {
    content: none; /* Remove the border for the last item */
}
/* <----------------- Announcements -----------------> */


/* <----------------- Footer -----------------> */
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: #d9d9d9;
}
.footer h3{
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa-brands{
    color: #151572;
    margin: 0 20px;
    cursor: pointer;
    padding: 18px 0; 
}
/* <----------------- Footer -----------------> */